* {
    box-sizing: border-box;
}

#Main , footer {
    font-family: Arial;
    font-size: 14px;
    direction: rtl;
}

#Main {
    width: 900px;
    margin: auto;
    position: relative;
    
    
}

#Main > header > div {
    direction: ltr;
}
a {
    color: white;
 
}
nav {
    font-weight: bold;
    margin: 10px;
    
}

header {
    border: solid 1px black;
}

header div {
    margin: 0;
}

#contenet div{
    float: right;
    width: 280px;
    border: solid 1px black;
    margin: 10px 10px;
}

.picUp {
    /*float: left;*/
    height: 300px;
    /*height: 320px;*/
    position: relative;
}
.picUp header {
    font-weight: bold;
    font-size: 14px;
    /*color : green;*/
}

.picUp img {
    width: 100%;
    height: 100%;
    border-bottom-right-radius: 25px;

}


.picDown {
    height: 200px;
    border-top-right-radius: 25px;
    position: relative;
    padding: 0 20px;
}

#contenet .picDown div {
    
    clear: both;
    display: table;
    content: "";
    width: 100%;
    height: 100%;
    margin: 0 0;
}

.picDown img {
    width: 100%;
    padding-top: 10px;
}

#contenet .innerDesc {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 85%;
    height: 30%;
    margin: 4px;
    border-bottom-right-radius: 25px;
    background-color: rgba(100,100,100,0.75);
    font-size: 12px;
    padding-right: 10px;
    color: white;
}


#block {
    border: solid 1px gray;
    position: absolute;
    width: 100%;
    height: 100px;
    margin: 0 0;
    
}

#block div:first-child {
    height: 85%;
    background-color: gray;
}

#block div:last-child {
    height: 15%;
    background: linear-gradient(gray,rgb(200,200,200));
}

#headerDown {
    /*position: relative;*/
    border: solid 1px green;
    clear: both;
    display: table;
    direction: ltr;
    margin: 15px auto;
    margin-bottom: 0;
}

#upperMenu {

    /*margin: 10px;*/
    float: left;
    border: solid 1px red;
    /*padding: 15px 0;*/
    margin-right: 40px;
    margin-top: 25px;
    position: relative;
    /*vertical-align: middle;*/

}
#upperMenu ul {
    margin: 0;
    list-style: none;
    list-style-type: none;
    padding: 0;
}

#upperMenu li {
    padding: 0;
}

#upperMenu img {
    vertical-align: middle;
}

#upperMenu::after {
    clear: both;
    content: "" ;
    /*display: table;*/
}


footer {
    border: solid 1px red;
    position: fixed;
    width: 100%;
    bottom: 0;
    height: 50px;
    background-color: gray;
}

footer nav {
    position: absolute;
}



.menuNav {
    padding: 0 10px;
    display: inline-block;
    /*line-height: 340%;*/
    /*border-left: solid 2px gray;*/
}
.dMap section {
    /*margin: auto 0;*/
    margin-top: 30px;
    border: none ;
    /*background-color: aqua;*/
    
}
.dMap a {
    display: block;
    color: blue;

}

.dMap img {
    height: 100%;
    width: auto;
}

nav a {
    text-decoration: none;
}

#logo {
    position: relative;
    top: 0px;
    right: 0;
    /*bottom: -10px;*/
}

.readMore {
    text-align: left;
    display: inline-block;
    /*height: 25px;*/
    position: absolute;
    left:10px;;
    bottom: 1px;
    /* remove ... */
    text-decoration: none;
}
.readMore img {
    width: auto;
    height: 100%;
    border-radius: 0;
}

#contenet::after {
    clear: both;
    display: table;
}

#empty {
    margin: 20px;
    padding: 30px;
    clear: both;
    /*display: block;*/
}

.bottomContext {
    font-weight: bold;
    line-height: 200%;
    border-bottom: solid 2px gray;
    /*border-bottom-color: gray;*/
}

#contenet #map .dMap {
    display: inline-block;
    width: 50%;
    clear: none;
    height: 150px;
    /*float: right;
    /*float: left;
    margin: 0;
    background-color: aquamarine;
    clear: both;*/
}
#upperMenu .menuItem {
     display: block;
     padding: 1px 5px;
     /*height: 120%;
     width: 70px;*/
 }
.menuBox {
    background-color: gray;
    position: absolute;
    top: 100%;
    left: 0;
    display: none;
    z-index: 3;
    direction: rtl;
    text-align: right;
}
.menuNav {
    position: relative;
    direction: rtl;
    /*background-color: aqua;*/
}

.menuItem:hover {
    background-color: aquamarine;
}

.menuNav:hover {
    background-color: aqua;
}

.menuNav:hover .menuBox {
    display: block;
    width: 110px;
}

#upperMenu a {
    display: inline-block;
    position: relative;
    text-align: right;
   
}

