* {
    box-sizing: border-box;
}

#Main {
    width: 750px;
    margin: auto;
    position: relative;
    direction: rtl;
}

header {
    border: solid 1px black;
}

header div {
    margin: 15px;
}

#contenet div{
    float: right;
    width: 230px;
    border: solid 1px black;
    margin: 10px 10px;
}

.picUp {
    /*float: left;*/
    
    height: 320px;
    position: relative;
}

.picUp img {
    width: 100%;
    border-bottom-right-radius: 30px;

}

.picDown {
    height: 150px;
}

.innerDesc {
    position: absolute;
    bottom: 2px;
    right: 2px;
    width: 60%;
    border-bottom-right-radius: 30px;
    background-color: rgba(100,100,100,0.75);
}

#headerDown {
    position: relative;
}

#upperMenu {

    margin: auto;
}

footer {
    border: solid 1px red;
    position: fixed;
    width: 100%;
    bottom: 0;
    height: 50px;
}

footer nav {
    position: absolute;
}